@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import url("https://fonts.googleapis.com/css2?family=Barrio&display=swap");

:root{
      --accent:#ff2d55;
      --accent2:#00e5ff;
      --bg:#060607;
      --panel:#0f1213cc;
      --glass: rgba(255,255,255,0.03);
    }

html,body{height:100%;background:linear-gradient(180deg,#030304 0%, #08090a 60%);color:#cbd5db;}

.wireframe {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr;
  grid-template-rows: 1fr 1fr 0.8fr;
  gap: 20px;
  height: 100vh;
  padding: 20px;
}

/* Zones */
.menu {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.character {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.chart-container {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
#carte {
 grid-column: 3 / 4;
}

.weapon {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.options {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.radar {
  grid-row: 3 / 4;
}

.placeholder {
  border: 2px solid rgb(0, 0, 0);
  background-color: rgba(1, 65, 1, 0.479); /* léger fond vert */
  color: rgb(0, 0, 0);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

